<div class="page-login">


	<header>
		<!-- leon added sm class -->
	  <nav class="navbar navbar-default navbar-static-top">
		  <div class="bg-black color-xs-white line-height-xs-80">
			  <div class="container">
				  <div class="row padding-top-xs-10">
					  <div class="col-xs-3 col-lg-1"><img src="/images/logo-mobile.png" alt="Adeqo" title="Adeqo" class="head-img"/></div>
					  <div class="col-sm-9 col-lg-7 padding-left-lg-50 padding-right-sm-0 hidden-xs">
					  	<ul class="list-inline list-unstyled text-left">
						  	<li data-scroll-nav='0'><a class="padding-right-sm-15 padding-right-md-15 padding-right-lg-15" ><i class="color-xs-white">About Adeqo</i></a></li>
						  	<li data-scroll-nav='1'><a class="padding-right-sm-15 padding-right-md-15 padding-right-lg-15" ><i class="color-xs-white">What We Offer</i></a></li>
						  	<li data-scroll-nav='2'><a class="padding-right-sm-15 padding-right-md-15 padding-right-lg-15" ><i class="color-xs-white">Our Platform</i></a></li>
						  	<li data-scroll-nav='3'><a class="padding-right-sm-15 padding-right-md-15 padding-right-lg-15" ><i class="color-xs-white">Blog</i></a></li>
						  	<li data-scroll-nav='4'><a class="padding-right-sm-15 padding-right-md-15 padding-right-lg-15" ><i class="color-xs-white">Pricing</i></a></li>
						  	<li data-scroll-nav='5'><a class="padding-right-sm-15 padding-right-md-15 padding-right-lg-15" ><i class="color-xs-white">Contact Us</i></a></li>
						  </ul>
					  </div>
					  <div class="col-lg-4 padding-right-sm-30 hidden-xs">
							<ul>
							  <a onclick="showModal('login');"><li class="btn btn-grey"><i class="color-xs-white">Login</i></li></a>
								<span class="padding-left-sm-5 padding-left-md-5 padding-left-lg-5 color-xs-white"><i class="fa fa-phone color-xs-white padding-lg-5" aria-hidden="true"></i>86 21 62665600</span>
						  </ul>
					  </div>
					  <div class="col-xs-9 visible-xs-block head-bar">
				      <div class="navbar-header">
					    <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><i class="fa fa-bars color-xs-white font-size-xs-18pt" aria-hidden="true"></i></button>
				      </div>
				      <div id="navbar" class="navbar-collapse collapse">
					      <ul class="nav navbar-nav">
						      <li data-scroll-nav='0'><a class="" ><i class="color-xs-white">About Adeqo</i></a></li>
						      <li data-scroll-nav='1'><a class="" ><i class="color-xs-white">What We Offer</i></a></li>
						      <li data-scroll-nav='2'><a class="" ><i class="color-xs-white">Our Platform</i></a></li>
							    <li data-scroll-nav='3'><a class="" ><i class="color-xs-white">Blog</i></a></li>
							    <li data-scroll-nav='4'><a class="" ><i class="color-xs-white">Pricing</i></a></li>
							    <li data-scroll-nav='5'><a class="" ><i class="color-xs-white">Contact Us</i></a></li>
							    <li><a onclick="showModal('login');"><button type="button" class="btn btn-default btn-grey"><i>Login</i></button></a></li>
						      <li class="margin-left-xs-15"><span class="color-xs-white"><i class="fa fa-phone color-xs-white padding-xs-5" aria-hidden="true"></i>86 21 62665600</span></li>
					      </ul>
				      </div>
		         </div>
				  </div>
			  </div>
		  </div>
	  </nav>
  </header>
	<section class="banner">
		<div class="container-fluid row-1200 hidden-xs">
			<div class="top-container">
				<div class="top-banner-container">
					<div class="col-sm-push-8 col-sm-4 col-lg-push-8 col-lg-4">
						<p class="color-xs-white font-size-xs-14pt font-size-lg-20pt text-center">The world’s leading edge platform to connect to China's Media Channels in Real Time</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid row-1200 visible-xs-block hero-slider-mol">
			<div class="top-container">
				<div class="top-banner-container">
					<div class="padding-bottom-xs-100">
						<p class="color-xs-white font-size-xs-14pt font-size-lg-20pt text-center">The world's only platform able to connect to China's media network in real-time</p>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll-container"><a href="#digital-marketing" class="font-size-xs-42pt"><i class="color-xs-white fa fa-angle-down" aria-hidden="true"></i></a></div>
	</section>
  <section id="digital-marketing">
		<article class="client-showcase padding-top-lg-70 padding-bottom-lg-70 padding-top-xs-70 padding-bottom-xs-70">
			<div class="container">
				<div class="row-1200">
					<div class="col-xs-12 text-center">
						<h3 class="font-size-lg-20pt heading-line margin-top-xs-0 margin-bottom-xs-50"><strong>Our Clients</strong></h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row vertical-align-middle">
					<!--leon add md class -->
					<div class="col-xs-6 col-md-2 col-lg-2 padding-bottom-xs-20 padding-bottom-lg-0"><img src="/images/myob.png" alt="MYOB" title="MYOB" class="center-block"/></div>
					<div class="col-xs-6 col-md-2 col-lg-2 padding-bottom-xs-20 padding-bottom-lg-0"><img src="/images/fwd.png" alt="FWD" title="FWD" class="center-block"/></div>
					<div class="col-xs-6 col-md-2 col-lg-2 padding-bottom-xs-20 padding-bottom-lg-0"><img src="/images/hisense.png" alt="Hisense" title="Hisense" class="center-block"/></div>
					<div class="col-xs-6 col-md-2 col-lg-2 padding-bottom-xs-20 padding-bottom-lg-0"><img src="/images/rc.png" alt="Royal Caribbean" title="Royal Caribbean" class="center-block rcc"/></div><!-- leon add class rcc -->
					<div class="col-xs-6 col-md-2 col-lg-2 padding-bottom-xs-20 padding-bottom-lg-0"><img src="/images/ctrip.png" alt="Ctrip" title="Ctrip" class="center-block"/></div>
					<div class="col-xs-6 col-md-2 col-lg-2 padding-bottom-xs-20 padding-bottom-lg-0"><img src="/images/op.png" alt="Ocean Park" title="Ocean Park" class="center-block op"/></div><!-- leon add class op -->
				</div>
			</div>
		</article>
		<article class="feature intro hidden-xs" data-scroll-index='0'>
			<div class="container-fluid row-1200">
				<div class="row vertical-align-middle">
					<!-- leon add md & sm class -->
					<div class="col-md-6 col-md-push-6 padding-left-md-40 col-lg-6 col-lg-push-6 padding-left-lg-40 pull-right">
						<div class="row padding-bottom-sm-70 padding-top-sm-70 padding-bottom-lg-70 padding-top-lg-70 bg-transparent">
								<div class="swiper-container-intro">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
								      <div class="font-size-lg-20pt margin-bottom-lg-20"><p class="heading-line"><strong>Introduction</strong></p></div>
                      <div class="font-size-lg-18pt margin-bottom-lg-20"><p>Want to advertise in China?</p></div>
											<div class="font-size-lg-10pt">Accessing China’s market in real-time is key to any brands growth. With locally-based servers, Adeqo is the world's only platform able to connect to China's media network in real-time, and is fully ICP-certified with local authorities to operate in China. We built Adeqo for your success.</div>
										</div>
										<div class="swiper-slide">
                      <div class="font-size-lg-18pt margin-bottom-lg-20"><p>Advertising Management Platform for China</p></div>
											<div class="font-size-lg-10pt">Manage Baidu, Qihoo 360, Sogou, Shenma campaigns in one place</div>
											<div class="font-size-lg-10pt">ADEQO is the essential campaign management platform for global companies to connect with the Chinese market.</div>
											<div class="font-size-lg-10pt">Our software enables you to create, analyse, and optimize cross-engine advertising campaigns, and improve your financial performance by delivering better CPC, CPA and ROI.</div>
											<div class="font-size-lg-10pt">Let us help you achieve your business goals.</div>
											<div class="col-sm-3 col-lg-3 padding-top-lg-20"><img src="/images/360.png"class="intro-img"/></div>
											<div class="col-sm-3 col-lg-3 padding-top-lg-20"><img src="/images/sogou.png"class="intro-img"/></div>
											<div class="col-sm-3 col-lg-3 padding-top-lg-20"><img src="/images/baidu.png"class="intro-img"/></div>
											<div class="col-sm-3 col-lg-3 padding-top-lg-20"><img src="/images/shenma.png"class="intro-img"/></div>
										</div>
									</div>
									<div class="swiper-pagination align-left"></div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="feature intro-molbile visible-xs-block">
			<img src="/images/intro-slider.jpg" alt="MYOB" title="MYOB" class="center-block img-responsive">
		</article>
		<article class="feature intro-molbile visible-xs-block padding-top-xs-70 padding-bottom-xs-70">
			<div class="swiper-container-intro">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="font-size-xs-20pt margin-bottom-xs-10"><h3 class="heading-line"><strong>Introduction</strong></h3></div>
						<div class="font-size-xs-18pt margin-bottom-xs-10"><p>Want to advertise in China?</p></div>
						<div class="font-size-xs-10pt">Accessing China’s market in real-time is key to any brands growth. With locally-based servers, Adeqo is the world's only platform able to connect to China's media network in real-time, and is fully ICP-certified with local authorities to operate in China. We built Adeqo for your success.</div>
					</div>
					<div class="swiper-slide">
						<div class="font-size-xs-18pt margin-bottom-xs-10"><p>Advertising Management Platform for China</p></div>
						<div class="font-size-xs-10pt">Manage Baidu, Qihoo 360, Sogou, Shenma campaigns in one place</div>
						<div class="font-size-xs-10pt">ADEQO is the essential campaign management platform for global companies to connect with the Chinese market.</div>
						<div class="font-size-xs-10pt">Our software enables you to create, analyse, and optimize cross-engine advertising campaigns, and improve your financial performance by delivering better CPC, CPA and ROI.</div>
						<div class="font-size-xs-10pt">Let us help you achieve your business goals.</div>
						<div class="col-xs-3 padding-top-xs-20"><img src="/images/360.png"class="intro-img"/></div>
						<div class="col-xs-3 padding-top-xs-20"><img src="/images/sogou.png"class="intro-img"/></div>
						<div class="col-xs-3 padding-top-xs-20"><img src="/images/baidu.png"class="intro-img"/></div>
						<div class="col-xs-3 padding-top-xs-20"><img src="/images/shenma.png"class="intro-img"/></div>
					</div>
				</div>
				<div class="swiper-pagination align-left"></div>
			</div>
		</article>
		<article class="client-showcase bg-lightgrey padding-top-lg-70 padding-bottom-lg-70 padding-top-xs-70 padding-bottom-xs-70" data-scroll-index='1'>
			<div class="container row-1200">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h3 class="font-size-xs-20pt font-size-lg-20pt heading-line margin-top-lg-50 margin-bottom-lg-50"><strong>What We Offer</strong></h3>
          <div class="font-size-xs-12pt font-size-lg-12pt padding-bottom-xs-30">Adeqo uses real-time tracking, cross-network management, and in-depth analytics to tailor your advertising campaigns to the Chinese market. We aim to simplify your advertising workload, expand your clientele by reaching new audiences, and optimize your campaigns for better revenue opportunities.</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row text-center">
					<div class="col-xs-12 col-lg-4 padding-bottom-xs-20 padding-bottom-lg-0 offer-back">
						<img src="/images/cross-network.png" class="img-responsive center-block">
						<div class="offer-box">
						  <h3><strong>Cross-Network Campaign Management</strong></h3>
						  <p>Streamline your workflow by accessing all your data in one place. Adeqo’s platform integrates multiple channel networks, and allows you to edit your campaigns in bulk across them all.</p>
					  </div>
					</div>
					<div class="col-xs-12 col-lg-4 padding-bottom-xs-20 padding-bottom-lg-0 offer-back">
						<img src="/images/actionable.png" class="img-responsive center-block">
						<div class="offer-box">
						  <h3><strong>Real-Time China</strong></h3>
						  <p>Respond to the market in real-time. Tackle China's vast marketplace with complete transparency and track your customers' clicks by the second. </p>
					  </div>
					</div>
					<div class="col-xs-12 col-lg-4 padding-bottom-xs-20 padding-bottom-lg-0 offer-back">
						<img src="/images/actionable-insights.png" class="img-responsive center-block">
						<div class="offer-box">
							<h3><strong>Actionable Insights</strong></h3>
							<p>Let us deal with the number crunching for you. Receive KPI driven insights into the performance of your campaigns. Set alerts based on performance, expenses or other custom options and take action with one click.</p>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="feature" data-scroll-index='2'>
			<div class="container-fluid row-1200 margin-top-lg-70 margin-bottom-lg-70 margin-top-xs-70 margin-bottom-xs-70">
				<div class="text-center">
					<h3 class="font-size-lg-20pt heading-line margin-bottom-xs-50"><strong>Our Platform</strong></h3>
				</div>
				<div class="row vertical-align-middle">
					<div class="col-lg-6 text-center padding-xs-0 overflow-hidden">
						<div class="animationL">
						  <img src="/images/track.png" alt="track" title="track" class="center-block img-responsive"/>
            </div>
					</div>
					<div class="col-lg-6 padding-lg-0 padding-left-lg-40">
						<div class="row margin-bottom-xs-20 margin-bottom-sm-0">
							<div class="col-lg-10 margin-bottom-xs-20">
								<div class="margin-bottom-xs-10"><p class="font-size-xs-18pt font-size-lg-18pt heading-line"><strong>Track</strong></p><img src="/images/track-45x45.png" class="img-left"></div>
								<div class="font-size-xs-12pt font-size-lg-12pt">Gain complete transparency and greater control of your campaigns by accessing your data in real-time</div>
                <div class="hidden-xs col-lg-6 margin-top-20 padding-left-lg-0 font-size-xs-14pt">
									<p class="font-size-lg-14pt"><strong>ROI Tracking</strong></p>
									<p class="font-size-lg-10pt">Adeqo assures you real-time ROI. Boost margin and profit, and react to the market instantly.</p>
									<p class="font-size-lg-14pt"><strong>LinkCheck</strong></p>
									<p class="font-size-lg-10pt">Protect your brand’s quality and improve client experience. Adeqo combs through landing pages used in your advertising campaigns and alerts campaign managers to bad URLs.</p>
								</div>
								<div class="hidden-xs col-lg-6 margin-top-20 font-size-xs-14pt">
									<p class="font-size-lg-14pt"><strong>Ad Optimization</strong></p>
									<p class="font-size-lg-10pt">Monitor your customers’ clicks by the second and adapt your campaigns to current trends. Adeqo offers cross-channel and cross-device attribution, advanced search, and conversion tracking to optimize your campaigns for success in the Chinese market.</p>
								</div>
								<div class="visible-xs-block swiper-container-feature">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="margin-top-20">
												<p class="font-size-xs-14pt"><strong>ROI Tracking</strong></p>
												<p class="font-size-xs-10pt">Adeqo assures you real-time ROI. Boost margin and profit, and react to the market instantly.</p>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="margin-top-20">
											  <p class="font-size-xs-14pt"><strong>LinkCheck</strong></p>
											  <p class="font-size-xs-10pt">Protect your brand’s quality and improve client experience. Adeqo combs through landing pages used in your advertising campaigns and alerts campaign managers to bad URLs.</p>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="margin-top-20">
												<p class="font-size-xs-14pt"><strong>Ad Optimization</strong></p>
												<p class="font-size-xs-10pt">Monitor your customers’ clicks by the second and adapt your campaigns to current trends. Adeqo offers cross-channel and cross-device attribution, advanced search, and conversion tracking to optimize your campaigns for success in the Chinese market.</p>
											</div>
										</div>
									</div>
									<div class="swiper-pagination"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="feature bg-lightgrey padding-top-lg-70  padding-top-xs-70">
			<div class="container-fluid row-1200">
				<div class="row vertical-align-middle">
					<div class="col-lg-6 ">
						<div class="row">
							<div class="col-lg-10">
								<div class="font-size-lg-20pt margin-bottom-xs-10"><h3 class="heading-line"><strong>Analyse</strong></h3><img src="/images/analyse-45x45.png" class="img-left"></div>
								<div class="font-size-lg-12pt">Use Adeqo’s customisable platform to transform your data into actionable insights and take advantage of optimization opportunities.</div>
								<div class="col-lg-6 margin-top-20 padding-left-lg-0 font-size-xs-14pt hidden-xs">
									<p class="font-size-lg-14pt"><strong>Business Intelligence Integration</strong></p>
									<p class="font-size-lg-10pt">Adeqo offers seamless integration between front end data with first party customer centric data. Close the loop and let us provide crucial insights on the impact of your campaigns. Make better judgement calls and accelerate your future growth.</p>
									<p class="font-size-lg-14pt"><strong>Advanced Data Sources</strong></p>
									<p class="font-size-lg-10pt">Adeqo is hassle-free. Import other back-end data and have access to all your information in one place.</p>
								</div>
								<div class="col-lg-6 margin-top-20 font-size-xs-14pt hidden-xs">
									<p class="font-size-lg-14pt"><strong>Reporting Templates</strong></p>
									<p class="font-size-lg-10pt">Track your performance statistics and budget reports across all networks. Personalize to accommodate your business needs.</p>
								</div>
								<div class="visible-xs-block swiper-container-feature col-xs-5">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="margin-top-20">
												<p class="font-size-xs-14pt"><strong>Business Intelligence Integration</strong></p>
												<p class="font-size-xs-10pt">Adeqo offers seamless integration between front end data with first party customer centric data. Close the loop and let us provide crucial insights on the impact of your campaigns. Make better judgement calls and accelerate your future growth.</p>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="margin-top-20">
												<p class="font-size-xs-14pt"><strong>Advanced Data Sources</strong></p>
												<p class="font-size-xs-10pt">Adeqo is hassle-free. Import other back-end data and have access to all your information in one place.</p>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="margin-top-20">
												<p class="font-size-xs-14pt"><strong>Reporting Templates</strong></p>
												<p class="font-size-xs-10pt">Track your performance statistics and budget reports across all networks. Personalize to accommodate your business needs.</p>
											</div>
										</div>
									</div>
									<div class="swiper-pagination"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 padding-xs-0 overflow-hidden">
						<div class="animationR">
						  <img src="/images/analyse.png" alt="track" title="track" class="center-block img-responsive"/>
					  </div>
					</div>
				</div>
			</div>
		</article>
		<article class="feature">
			<div class="container-fluid row-1200 margin-top-lg-70 margin-bottom-lg-70 margin-top-xs-70 margin-bottom-xs-70">
				<div class="row vertical-align-middle">
					<div class="col-lg-6 text-center padding-xs-0 overflow-hidden">
						<div class="animationL">
						  <img src="/images/create-manage.png" alt="track" title="track" class="center-block img-responsive"/>
					  </div>
					</div>
					<div class="col-lg-6 padding-xs-20 padding-left-lg-40 padding-right-lg-40">
						<div class="row margin-bottom-xs-20 margin-bottom-sm-0">
							<div class="col-lg-10 margin-bottom-xs-20">
								<div class="font-size-lg-20pt margin-bottom-xs-10"><h3 class="heading-line"><strong>Create and Manage</strong></h3><img src="/images/create-45x45.png" class="img-left"></div>
								<div class="font-size-lg-12pt">Make the most of your campaign by using Adeqo’s multi-network platform to respond to conversion trends and help your advertisements excel in the Chinese market.</div>
                <div class="hidden-xs col-lg-6 margin-top-20 font-size-xs-14pt padding-left-lg-0">
									<p class="font-size-lg-14pt"><strong>Customizable Bid Rules</strong></p>
									<p class="font-size-lg-10pt">Adeqo gives you more control over your campaigns. Schedule and adjust your automated bid rules to suit your personal business goals. </p>
									<p class="font-size-lg-14pt"><strong>Advanced Dashboard</strong></p>
									<p class="font-size-lg-10pt">Review all your tracked metrics in one place anytime, anywhere. Customize to your preferences and reduce inefficiency.</p>
								</div>
								<div class="hidden-xs col-lg-6 margin-top-20 font-size-xs-14pt">
									<p class="font-size-lg-14pt"><strong>Real-Time Campaign Management</strong></p>
									<p class="font-size-lg-10pt">Manage your workflow more efficiently by utilizing Adeqo’s multi-network platform and campaign management tools. Evaluate your campaigns performance in real time. Make changes in bulk and see immediate effects.</p>
									<p class="font-size-lg-14pt"><strong>Real-Time Account Management</strong></p>
									<p class="font-size-lg-10pt">Adeqo provides you with the finest team to manage your campaigns most effectively. We offer expert support and advice to help your campaigns flourish in the Chinese market.</p>
								</div>
							</div>
							<div class="visible-xs-block swiper-container-feature">
								<div class="swiper-wrapper padding-xs-10">
									<div class="swiper-slide">
										<div class="margin-top-20">
											<p class="font-size-xs-14pt"><strong>Customizable Bid Rules</strong></p>
											<p class="font-size-xs-10pt">Adeqo gives you more control over your campaigns. Schedule and adjust your automated bid rules to suit your personal business goals. </p>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="margin-top-20">
											<p class="font-size-xs-14pt"><strong>Advanced Dashboard</strong></p>
											<p class="font-size-xs-10pt">Review all your tracked metrics in one place anytime, anywhere. Customize to your preferences and reduce inefficiency.</p>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="margin-top-20">
											<p class="font-size-xs-14pt"><strong>Real-Time Campaign Management</strong></p>
											<p class="font-size-xs-10pt">Manage your workflow more efficiently by utilizing Adeqo’s multi-network platform and campaign management tools. Evaluate your campaigns performance in real time. Make changes in bulk and see immediate effects.</p>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="margin-top-20">
											<p class="font-size-xs-14pt"><strong>Real-Time Account Management</strong></p>
											<p class="font-size-xs-10pt">Adeqo provides you with the finest team to manage your campaigns most effectively. We offer expert support and advice to help your campaigns flourish in the Chinese market.</p>
										</div>
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="client-showcase bg-bluegrey padding-top-lg-70 padding-bottom-lg-70 padding-top-xs-70 padding-bottom-xs-70" data-scroll-index='3'>
			<div class="container blog row-1200">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h3 class="font-size-xs-20pt font-size-lg-20pt heading-line margin-bottom-xs-30"><strong>Blog</strong></h3>
					</div>
				</div>
				<div class="clearfix"></div>


				<div class="hidden-xs row">
					<%
					if !@rss.nil?
					@blog_title = HTMLEntities.new.decode(@rss.items.first.title)
					@blog_desc = HTMLEntities.new.decode(@rss.items.first.description.force_encoding("utf-8"))
					# @blog_desc = truncate(@blog_desc, :length => 100)
					%>
					<div class="col-sm-6 col-lg-4 padding-bottom-lg-0 blog1 blog-box">
						<div class="blog-text">
						  <h5 class="padding-top-xs-10"><strong><%=@blog_title%></strong></h5>
						  <p class="font-size-lg-10pt"><%=@blog_desc.html_safe%></p>
							<!-- leon blog button changed --><a target="_blank" class="color-xs-white" href="<%=@rss.items.first.link%>"><button class="btn btn-grey-blog margin-top-lg-20" type="button">Read More</button></a>
					  </div>
					</div>
					<%
					@blog_title = HTMLEntities.new.decode(@rss.items.second.title)
					@blog_desc = HTMLEntities.new.decode(@rss.items.second.description.force_encoding("utf-8"))
					%>
					<div class="col-sm-6 col-lg-4 padding-bottom-lg-0 blog2 blog-box">
						<div class="blog-text">
						  <h5 class="padding-top-xs-10"><strong><%=@blog_title%></strong></h5>
						  <p class="font-size-lg-10pt"><%=@blog_desc.html_safe%></p>
							<!-- leon blog button changed --><a target="_blank" class="color-xs-white" href="<%=@rss.items.second.link%>"><button class="btn btn-grey-blog" type="button">Read More</button></a>
					  </div>
					</div>
					<%
					@blog_title = HTMLEntities.new.decode(@rss.items.third.title)
					@blog_desc = HTMLEntities.new.decode(@rss.items.third.description.force_encoding("utf-8"))
					%>
					<div class="col-sm-6 col-lg-4 padding-bottom-lg-0 blog3 blog-box">
						<div class="blog-text">
							<h5 class="padding-top-xs-10"><strong><%=@blog_title%></strong></h5>
							<p class="font-size-lg-10pt"><%=@blog_desc.html_safe%></p>
							<!-- leon blog button changed --><a target="_blank" class="color-xs-white" href="<%=@rss.items.third.link%>"><button class="btn btn-grey-blog" type="button">Read More</button></a>
						</div>
					</div>
					<%
					end
					%>
				</div>
				<div class="visible-xs-block col-xs-12 swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
							<%
							if !@rss.nil?
							@blog_title = HTMLEntities.new.decode(@rss.items.first.title)
							@blog_desc = HTMLEntities.new.decode(@rss.items.first.description.force_encoding("utf-8"))
							# @blog_desc = truncate(@blog_desc, :length => 100)
							%>
							<div class="col-sm-6 col-lg-4 padding-bottom-lg-0 blog1 blog-box">
								<div class="blog-text">
								  <h5 class="padding-top-xs-10"><strong><%=@blog_title%></strong></h5>
								  <p class="font-size-lg-10pt"><%=@blog_desc.html_safe%></p>
									<!-- leon blog button changed --><a target="_blank" class="color-xs-white" href="<%=@rss.items.first.link%>"><button class="btn btn-grey-blog margin-top-lg-20" type="button">Read More</button></a>
							  </div>
							</div>
						</div>
            <div class="swiper-slide">
							<%
							@blog_title = HTMLEntities.new.decode(@rss.items.second.title)
							@blog_desc = HTMLEntities.new.decode(@rss.items.second.description.force_encoding("utf-8"))
							%>
							<div class="col-sm-6 col-lg-4 padding-bottom-lg-0 blog2 blog-box">
								<div class="blog-text">
								  <h5 class="padding-top-xs-10"><strong><%=@blog_title%></strong></h5>
								  <p class="font-size-lg-10pt"><%=@blog_desc.html_safe%></p>
									<!-- leon blog button changed --><a target="_blank" class="color-xs-white" href="<%=@rss.items.second.link%>"><button class="btn btn-grey-blog" type="button">Read More</button></a>
							  </div>
							</div>
						</div>
            <div class="swiper-slide">
							<%
							@blog_title = HTMLEntities.new.decode(@rss.items.third.title)
							@blog_desc = HTMLEntities.new.decode(@rss.items.third.description.force_encoding("utf-8"))
							%>
							<div class="col-sm-6 col-lg-4 padding-bottom-lg-0 blog3 blog-box">
								<div class="blog-text">
									<h5 class="padding-top-xs-10"><strong><%=@blog_title%></strong></h5>
									<p class="font-size-lg-10pt"><%=@blog_desc.html_safe%></p>
									<!-- leon blog button changed --><a target="_blank" class="color-xs-white" href="<%=@rss.items.third.link%>"><button class="btn btn-grey-blog" type="button">Read More</button></a>
								</div>
							</div>
							<%
							end
							%>
						</div>
        </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
			</div>
		</article>
		<article class="client-showcase bg-lightgrey padding-top-xs-70 padding-bottom-xs-70" data-scroll-index='4'>
			<div class="container price row-1200">
				<div class="row">
					<div class="col-lg-12 text-center margin-bottom-lg-20">
						<h3 class="font-size-xs-20pt font-size-lg-20pt heading-line margin-top-xs-0 margin-bottom-lg-20"><strong>Pricing</strong></h3>
						<div class="font-size-lg-12pt margin-bottom-xs-20">Drive Performance. Reach China's Market Today</div><!-- leon add margin-bottom-xs-20 -->
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row text-center">
					<!-- leon add col-sm-6 -->
					<div class="hidden-xs col-sm-6 col-lg-3 col-md-push-2 col-lg-push-0 padding-bottom-xs-20 padding-bottom-lg-0"><!-- leon add col-md-push-2 col-lg-push-0 -->
						<div class="price-box padding-top-xs-40">
						  <p class="font-size-lg-18pt"><strong>Starter</strong></p>
							<div class="font-size-lg-30pt"><span class="fa fa-usd font-size-xs-20pt" aria-hidden="true"></span>2,000</div>
						  <p class="font-size-lg-8pt margin-bottom-xs-20"><strong>USD/Month</strong></p>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Campaign Management</div>
              <div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Report Scheduler</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Ad Optimization</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced Dashboard</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Reporting Template</div>
							<div class="col-lg-1"></div>
							<div class="col-lg-10">
							  <p class="font-size-lg-10pt margin-top-xs-20">Start with the basics! We provide you with the essential multi-network platform to manage all your campaigns in one place.</p>
              </div>
							<div class="col-lg-1"></div>
							<button class="btn btn-grey btn-lg btn-price" data-hover="Buy Now">Purchase</button>
					  </div>
					</div>
					<div class="hidden-xs col-sm-6 col-lg-3 padding-bottom-xs-20 padding-bottom-lg-0">
						<div class="price-box padding-top-xs-40">
						  <p class="font-size-lg-18pt"><strong>Standard</strong></p>
							<div class="font-size-lg-30pt"><span class="fa fa-usd font-size-xs-20pt" aria-hidden="true"></span>3,000</div>
						  <p class="font-size-lg-8pt margin-bottom-xs-20"><strong>USD/Month</strong></p>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Campaign Management</div>
              <div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Report Scheduler</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Ad Optimization</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced Dashboard</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Reporting Template</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Real-Time Tracking</div>
							<div class="col-lg-1"></div>
							<div class="col-lg-10">
								<p class="font-size-lg-10pt margin-top-xs-20">We supply you with the tools to tackle the Chinese market. Optimise your campaigns for success and drive your brand to excellency.</p>
							</div>
							<div class="col-lg-1"></div>
							<button class="btn btn-grey btn-lg btn-price" data-hover="Buy Now">Purchase</button>
					  </div>
					</div>
					<div class="hidden-xs col-sm-6 col-lg-3 col-md-push-2 col-lg-push-0 padding-bottom-xs-20 padding-bottom-lg-0"><!-- leon add col-md-push-2 col-lg-push-0 -->
						<div class="price-box padding-top-xs-40">
							<p class="font-size-lg-18pt"><strong>Advanced</strong></p>
							<div class="font-size-lg-30pt"><span class="fa fa-usd font-size-xs-20pt" aria-hidden="true"></span>4,000</div>
							<p class="font-size-lg-8pt margin-bottom-xs-20"><strong>USD/Month</strong></p>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Campaign Management</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Report Scheduler</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Ad Optimization</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced Dashboard</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Reporting Template</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Real-Time Tracking</div>
              <div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced Data Sources</div>
							<div class="col-lg-1"></div>
							<div class="col-lg-10">
								<p class="font-size-lg-10pt margin-top-xs-20">For the more experienced brands. Open up to the world of real-time management and operate with better efficiency.</p>
							</div>
							<div class="col-lg-1"></div>
							<button class="btn btn-grey btn-lg btn-price" data-hover="Buy Now">Purchase</button>
						</div>
					</div>
					<div class="hidden-xs col-sm-6 col-lg-3 padding-bottom-xs-20 padding-bottom-lg-0">
						<div class="price-box padding-top-xs-40">
							<p class="font-size-lg-18pt"><strong>Professional</strong></p>
							<div class="font-size-lg-30pt"><span class="fa fa-usd font-size-xs-20pt" aria-hidden="true"></span>15,000</div>
							<p class="font-size-lg-8pt margin-bottom-xs-20"><strong>USD/Month</strong></p>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Campaign Management</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Report Scheduler</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Ad Optimization</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced Dashboard</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Reporting Template</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Real-Time Tracking</div>
              <div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced Data Sources</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Watchdog</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Business Intelligence Integration</div>
							<div class="font-size-lg-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Real-Time Account Management</div>
							<div class="col-lg-1"></div>
							<div class="col-lg-10">
							  <p class="font-size-lg-10pt margin-top-xs-20">Everything you need to manage your campaigns in real-time, all in one place. Enjoy all the features tailored especially for the needs of professional brands.</p>
              </div>
							<div class="col-lg-1"></div>
							<button class="btn btn-grey btn-lg btn-price" data-hover="Buy Now">Purchase</button>
						</div>
					</div>
					<div class="swiper-container visible-xs-block">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
								<div class="col-xs-12 padding-bottom-xs-20"><!-- leon remove padding-bottom-lg-0 -->
									<div class="price-box-mol padding-top-xs-20"><!-- leon changed padding-top -->
									  <p class="font-size-xs-18pt padding-top-xs-20"><strong>Starter</strong></p><!-- leon add padding-top-xs-20 -->
										<div class="font-size-xs-30pt"><span class="fa fa-usd font-size-xs-20pt" aria-hidden="true"></span>2,000</div>
									  <p class="font-size-xs-8pt margin-bottom-xs-50"><strong>USD/Month</strong></p>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Campaign Management</div>
			              <div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Report Scheduler</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Ad Optimization</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced Dashboard</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Reporting Template</div>
										<div class="col-xs-1"></div>
										<div class="col-xs-10">
										  <p class="font-size-xs-10pt margin-top-xs-20">Start with the basics! We provide you with the essential multi-network platform to manage all your campaigns in one place.</p>
			              </div>
										<div class="col-xs-1"></div>
										<button class="btn btn-grey btn-lg margin-top-xs-30" data-hover="Buy Now">Purchase</button><!-- leon changed margin-top-xs-30 -->
								  </div>
								</div>
							</div>
              <div class="swiper-slide">
								<div class="col-xs-12 padding-bottom-xs-20"><!-- leon remove padding-bottom-lg-0 -->
									<div class="price-box-mol padding-top-xs-20"><!-- leon changed padding-top -->
									  <h3 class="font-size-xs-18pt  padding-top-xs-20"><strong>Standard</strong></h3><!-- leon add padding-top-xs-20 -->
										<div class="font-size-xs-30pt"><span class="fa fa-usd font-size-xs-20pt" aria-hidden="true"></span>3,000</div>
									  <p class="font-size-xs-8pt margin-bottom-xs-50"><strong>USD/Month</strong></p>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Campaign Management</div>
			              <div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Report Scheduler</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Ad Optimization</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced Dashboard</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Reporting Template</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Real-Time Tracking</div>
										<div class="col-xs-1"></div>
										<div class="col-xs-10">
										  <p class="font-size-xs-10pt margin-top-xs-20">We supply you with the tools to tackle the Chinese market. Optimise your campaigns for success and drive your brand to excellency.</p>
			              </div>
										<div class="col-xs-1"></div>
										<button class="btn btn-grey btn-lg margin-top-xs-30" data-hover="Buy Now">Purchase</button><!-- leon changed margin-top-xs-30 -->
								  </div>
								</div>
							</div>
              <div class="swiper-slide">
								<div class="col-xs-12 padding-bottom-xs-20"><!-- leon remove padding-bottom-lg-0 -->
									<div class="price-box-mol padding-top-xs-20"><!-- leon changed padding-top -->
										<h3 class="font-size-xs-18pt  padding-top-xs-20"><!-- leon changed font size --><strong>Advanced</strong></h3><!-- leon add padding-top-xs-20 -->
										<div class="font-size-xs-30pt"><!-- leon changed font size --><span class="fa fa-usd font-size-xs-20pt" aria-hidden="true"></span>4,000</div>
										<p class="font-size-xs-10pt margin-bottom-xs-50"><strong>USD/Month</strong></p>
										<div class="font-size-xs-11pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Campaign Management</div>
										<div class="font-size-xs-11pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Report Scheduler</div>
										<div class="font-size-xs-11pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Ad Optimization</div>
										<div class="font-size-xs-11pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced Dashboard</div>
										<div class="font-size-xs-11pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Reporting Template</div>
										<div class="font-size-xs-11pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Real-Time Tracking</div>
			              <div class="font-size-xs-11pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced Data Sources</div>
										<div class="col-xs-1"></div>
										<div class="col-xs-10">
										  <p class="font-size-xs-10pt margin-top-xs-20">For the more experienced brands. Open up to the world of real-time management and operate with better efficiency.</p>
			              </div>
										<div class="col-xs-1"></div>
										<button class="btn btn-grey btn-lg margin-top-xs-30" data-hover="Buy Now">Purchase</button><!-- leon changed margin-top-xs-30 -->
									</div>
								</div>
							</div>
              <div class="swiper-slide">
								<div class="col-xs-12 padding-bottom-xs-20"><!-- leon remove padding-bottom-lg-0 -->
									<div class="price-box-mol padding-top-xs-20"><!-- leon changed padding-top -->
										<h3 class="font-size-xs-18pt  padding-top-xs-20"><strong>Professional</strong></h3><!-- leon add padding-top-xs-20 -->
										<div class="font-size-xs-30pt"><!-- leon changed font size --><span class="fa fa-usd font-size-xs-20pt" aria-hidden="true"></span>15,000</div>
										<p class="font-size-xs-8pt margin-bottom-xs-50"><strong>USD/Month</strong></p>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Campaign Management</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Report Scheduler</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Ad Optimization</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced Dashboard</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Reporting Template</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Real-Time Tracking</div>
			              <div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced Data Sources</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Watchdog</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Business Intelligence Integration</div>
										<div class="font-size-xs-10pt margin-bottom-xs-5"><i class="fa fa-check-square-o" aria-hidden="true"></i>Real-Time Account Management</div>
										<div class="col-xs-1"></div>
										<div class="col-xs-10">
										  <p class="font-size-xs-10pt margin-top-xs-20">Everything you need to manage your campaigns in real-time, all in one place. Enjoy all the features tailored especially for the needs of professional brands.</p>
			              </div>
										<div class="col-xs-1"></div>
										<button class="btn btn-grey btn-lg margin-top-xs-30" data-hover="Buy Now">Purchase</button><!-- leon changed margin-top-xs-30 -->
									</div>
								</div>
							</div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
				</div>
			</div>
		</article>
		<section class="padding-top-lg-70 padding-bottom-lg-70 padding-top-xs-70 padding-bottom-xs-70" id="form" data-scroll-index='5'>
		  <div class="container">
			<div class="row row-1200">
					<div class="col-xs-12 text-center">
						<h3 class="color-xs-white font-size-lg-20pt heading-line">Contact Us</h3>
					</div>
				</div>
				<div class="col-xs-12 col-lg-5 contact-us-left-col">
					<div class="alert alert-danger font-size-lg-17pt font-size-xs-17pt" id="msg" style="display:none"></div>
					  <form id="contact_us_form" method="post" class="form">
							<div class="contact_form_row">
								<div class="contact_form_input">
									<div class="form-group">
										<!-- leon added dropdown-menu value and input value changed -->
										<select class="form-control font-size-lg-12pt font-size-xs-12pt" id="select" name="select">
										  <option value="">Leave us a message or request demo</option>
										  <option value="message">Leave us a message</option>
										  <option value="demo">Request demo</option>
										</select>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						<div class="contact_form_row">
							<div class="contact_form_input">
								<div class="form-group">
									<input id="first_name" name="first_name" type="text" value="" class="form-control personal_form_text" placeholder="First Name*"/>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="contact_form_row">
							<div class="contact_form_input">
								<div class="form-group">
									<input id="last_name" name="last_name" type="text" value="" class="form-control personal_form_text" placeholder="Last Name*"/>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="contact_form_row">
							<div class="contact_form_input">
								<div class="form-group">
									<input id="company_name" name="company_name" type="text" value="" class="form-control personal_form_text" placeholder="Company Name"/>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="contact_form_row">
							<div class="contact_form_input">
								<div class="form-group">
									<input id="contact_email" name="contact_email" type="text" value="" class="form-control personal_form_text" placeholder="Business Email"/>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="contact_form_row">
							<div class="contact_form_input">
								<div class="form-group">
									<input id="phone_number" name="phone_number" type="text" value="" class="form-control personal_form_text" placeholder="Phone Number"/>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="contact_form_row">
							<div class="contact_form_input">
								<div class="form-group">
									<input id="country" name="country" type="text" value="" class="form-control personal_form_text" placeholder="Country"/>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="contact_form_row">
							<div class="contact_form_input">
								<div class="form-group">
									<textarea id="contact_message" name="contact_message" cols="40" rows="10" aria-invalid="false" class="form-control contact_form_text" placeholder="Message*"></textarea>
								</div>
								<div class="col-xs-12 form-send">
									<button type="button" id="submit_button" form="contact_us_form" class="btn btn-grey-blog font-size-xs-14pt font-size-lg-14pt submit_button">Send</button>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-xs-12 col-lg-5">
					<div class="block-container color-xs-white">
						<p class="color-xs-white font-size-lg-12pt font-size-xs-12pt">Successfully navigating the world of online advertising in China has been our mission for 8 years. With its market value poised to double in the up-coming years, China is on the path to becoming the world’s largest advertising-market. We offer to transform your global business ambitions into a reality via Adeqo. Contact us to request a demo.</p>
            <p class="color-xs-white font-size-lg-14pt font-size-xs-12pt margin-top-xs-30">Global Headquarters</p>
						<p class="color-xs-white font-size-lg-12pt font-size-xs-12pt">上海市黄浦区延安东路588号 东海商业中心2楼<br/><i class="fa fa-phone color-xs-white" aria-hidden="true"></i> +852 2492 2770<br/><i class="fa fa-phone color-xs-white" aria-hidden="true"></i> +86 21 62665600<br /><i class="fa fa-envelope-o color-xs-white" aria-hidden="true"></i> <a href="mailto:sales@adeqo.com">sales@adeqo.com</a></p>
					</div>
				</div>
		  </div>
	  </section>
		<article class="join">
			<div class="container row-1200">
				<div class="font-size-lg-20pt font-size-xs-20pt">
          <div class="col-lg-9 text-center margin-top-lg-50 margin-bottom-lg-50 margin-top-xs-50 margin-bottom-xs-20">
					  <p class="color-xs-white">We're probably hiring. Let's change tomorrow.</p>
					  <p class="color-xs-white">Email us to find out more.</p>
				  </div>
					  <!-- leon removed button -->
						<div class="hidden-xs login-btn-container col-sm-push-4 col-lg-push-0 col-lg-3 btn-join font-size-lg-24pt font-size-xs-24pt text-blue"><!-- leon add col-sm-push-4 col-lg-push-0 -->
							<p class="margin-top-lg-70 margin-top-sm-70"><a href="mailto:recruit@bmgww.com?Subject=Career%20BMG" target="_top">Join Us</a> <i class="fa fa-angle-right" aria-hidden="true"></i></p>
						</div>
						<div class="visible-xs-block text-center margin-bottom-xs-50 btn-grey-blog font-size-lg-24pt font-size-xs-16pt">
							Join Us <i class="fa fa-angle-right color-xs-white" aria-hidden="true"></i>
						</div>
				</div>
			</div>
		</article>
	</section>

  <footer class="footer-container">
		<div class="container-fluid hidden-xs row-1200">
				<!-- leon add col-sm-9 --><div class="color-xs-white col-sm-9 col-lg-9 footer-text font-size-lg-8pt">Copyright © 2017 Adeqo. Adeqo & Adeqo Limited are Intellectual Property of Beyond Media Global Limited. All Rights Reserved. <a target="_blank" style="color:white" href="http://www.miitbeian.gov.cn">ICP 备案号: 15044856.</a></div><div class="color-xs-white col-lg-3 footer-text font-size-lg-8pt text-right">Terms of use &amp; Privacy Policy</div>
		</div>
		<div class="container-fluid visible-xs-block">
				<div class="color-xs-white footer-text text-center font-size-xs-8pt">Copyright © 2017 Adeqo. Adeqo & Adeqo Limited are Intellectual Property of Beyond Media Global Limited. All Rights Reserved. ICP: 15044856.Terms of use &amp; Privacy Policy</div>
		</div>
  </footer>
  <section class="footer-container color-xs-white"><div class="container "><div class="pull-right color-xs-white">version 4.2</div></div></section>
    </div>
<!-- Modal-->
<div id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal_label" class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><img src="/images/close-button.png" alt="Close" title="Close"/></button>
				<div class="modal_container">
					<div class="modal_title">Login to Adeqo</div>
					<hr/>
					<form id="loginForm" action="" method="post">
						<input id="sub_user" type="hidden" name="sub_user" value="0"/>
						<div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 loginname_container"><img src="/images/user-icon.jpg" alt="Email address" title="Email address"/>

							<input name="login_email" type="email" placeholder="Email address" autocomplete="off"/><br/><span id="login_email_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 password_container"><img src="/images/password-icon.jpg" alt="Password" title="Password"/>

							<input name="login_password" type="password" placeholder="Password" autocomplete="off"/><br/><span id="login_password_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 button_container">
							<!--<a class="modal_signup_button" href="javascript:;" onclick="showModal('signup');">SIGN UP</a><span class="hidden-xs"> | </span>-->
							<a href="javascript:;" onclick="showModal('reset');" class="modal_reset_button">Password Reset</a>
							<a href="javascript:;" onclick="loginSubmit();" class="modal_confirm_login_button">Login</a>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="signup_modal" tabindex="-1" role="dialog" aria-labelledby="signup_modal_label" class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><img src="/images/close-button.png" alt="Close" title="Close"/></button>
				<div class="modal_container">
					<div class="modal_title">Sign Up to Adeqo</div>
					<hr/>
					<form id="signupForm" action="" method="post">
						<input id="user_role" type="hidden" name="user_role" value="super"/>
						<input id="company_role" type="hidden" name="company_role" value="normal"/>
						<div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 loginname_container"><img src="/images/user-icon.jpg" alt="Email address" title="Email address"/>

							<input name="signup_email" type="email" placeholder="Email address" autocomplete="off"/><br/><span id="signup_email_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 password_container"><img src="/images/password-icon.jpg" alt="Password" title="Password"/>

							<input name="signup_password" type="password" placeholder="Password" autocomplete="off"/><br/><span id="signup_password_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 confirm_password_container"><img src="/images/password-icon.jpg" alt="Password" title="Password"/>

							<input name="signup_password2" type="password" placeholder="Confirm Password" autocomplete="off"/><br/><span id="signup_password2_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 company_container"><img src="/images/company-icon.jpg" alt="Company" title="Company"/>

							<input name="signup_company" type="text" placeholder="Company" autocomplete="off"/><br/><span id="signup_company_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 button_container"><a href="javascript:;" onclick="showModal('login');" class="modal_login_button">LOGIN</a><span class="hidden-xs"> </span>
						<a href="javascript:;" onclick="showModal('reset');" class="modal_reset_button">Password Reset</a>
							<a href="javascript:;" onclick="signupSubmit();" class="modal_confirm_signup_button">SIGN UP</a>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="reset_modal" tabindex="-1" role="dialog" aria-labelledby="reset_modal_label" class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><img src="/images/close-button.png" alt="Close" title="Close"/></button>
				<div class="modal_container">
					<div class="modal_title">Password Reset</div>
					<hr/>
					<form id="resetForm" action="" method="post">
						<div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 loginname_container"><img src="/images/user-icon.jpg" alt="Email address" title="Email address"/>

							<input name="reset_email" type="email" placeholder="Email address" autocomplete="off"/><br/><span id="reset_email_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 button_container"><a href="javascript:;" onclick="showModal('login');" class="modal_login_button">LOGIN</a><span class="hidden-xs"> </span>
							<a href="javascript:;" onclick="resetSubmit();" class="modal_confirm_reset_button">SEND RESET EMAIL</a>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<nav class='hidden-xs side-scroll'>
        <ul>
          <li data-scroll-nav='0'>
            <span>Introduction</span>
          </li>
          <li data-scroll-nav='1'>
            <span>What We Offer</span>
          </li>
          <li data-scroll-nav='2'>
            <span>Our Platform</span>
          </li>
          <li data-scroll-nav='3'>
            <span>Blog</span>
          </li>
          <li data-scroll-nav='4'>
            <span>Pricing</span>
          </li>
          <li data-scroll-nav='5'>
            <span>Contact Us</span>
          </li>
        </ul>
      </nav>
<!-- /Modal-->

<script type="text/javascript">
$("#submit_button").click(function(e){
	console.log("submit_button");

	var postData = $("#contact_us_form").serializeArray();
	var formURL = "/send_contact_us_email";

	$( "#msg" ).hide();
	$( "#msg" ).empty();
	$("#contact_us_form :input").prop("disabled", true);


	for (i = 0; i < postData.length; i++) {

		if(postData[i]["value"] == ""){
			// leon message size changed
			$( "#msg" ).append( "<p class='font-size-xs-12pt font-size-lg-12pt' style='color:red;'>Please fill in the required field.</p>" );
			$( "#msg" ).show();
			$("#contact_us_form :input").prop("disabled", false);
			return;
		}

		if(postData[i]["name"] == "contact_email"){
			var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			if(regex.test(postData[i]["value"]) == false){
				// leon message size changed
				$( "#msg" ).append( "<p class='font-size-xs-12pt font-size-lg-12pt' style='color:red;'>Please make sure your email is in correct format.</p>" );
				$( "#msg" ).show();
				$("#contact_us_form :input").prop("disabled", false);
				return;
			}
		}
	}


	$.ajax({
		url : formURL,
		type: "POST",
		data : postData,
		success:function(data, textStatus, jqXHR)
		{
			if(data['status'] == "true"){
				// leon removed new page
				console.log("done");
        // leon success message changed
				$( "#msg" ).append( "<p class='font-size-xs-12pt font-size-lg-12pt' style='color:#ed2124;'>Thank you for getting in touch! We will contact you shortly.</p>" );
				$( "#msg" ).show();
				$( "#contact_us_form" )[0].reset();
				$("#contact_us_form :input").prop("disabled", false);

				$( "#msg" ).delay(2500).slideUp(850);
			}else{
				// leon message size changed
				$( "#msg" ).append( "<p class='font-size-xs-12pt font-size-lg-12pt' style='color:red;'>Something wrong with your data, please make sure you type in the correct format.</p>" );
				$( "#msg" ).show();
				$("#contact_us_form :input").prop("disabled", false);
			}
		},
		error: function(jqXHR, textStatus, errorThrown)
		{
			// leon message size changed
			$( "#msg" ).append( "<p class='font-size-xs-12pt font-size-lg-12pt' style='color:red;'>Our service is too busy, please try again in a few minutes.</p>" );
			$( "#msg" ).show();
			$("#contact_us_form :input").prop("disabled", false);
		}
	});
	e.preventDefault();
});
</script>



<script>
var map;
function initMap() {
	var myLatLng = {lat: 22.278503, lng: 114.1743262};
	map = new google.maps.Map(document.getElementById('map'), {
		center: myLatLng,
		scrollwheel: true,
		zoom: 17
	});

	// Create a marker and set its position.
	var marker = new google.maps.Marker({
		map: map,
		position: myLatLng,
		title: '19/F, Tung Chiu Commercial Centre, 193-197 Lockhart Road, Wanchai, Hong Kong'
	});
}
</script>
<%= javascript_include_tag 'js/jquery-3.1.1.js'%>
<!-- <script src="/assets/js/jquery-3.1.1.js" type="text/javascript"></script> -->

<!-- scrollIt -->
<%= javascript_include_tag 'js/scrollIt.js-master/scrollIt.js'%>
<!-- <script src="/assets/js/scrollIt.js-master/scrollIt.js" type="text/javascript"></script> -->
<script>
$(function(){
  $.scrollIt({
		upKey: 38,             // key code to navigate to the next section
  downKey: 40,           // key code to navigate to the previous section
  easing: 'linear',      // the easing function for animation
  scrollTime: 600,       // how long (in ms) the animation takes
  activeClass: 'active', // class given to the active nav element
  onPageChange: null,    // function(pageIndex) that is called when page is changed
  topOffset: 0           // offste (in px) for fixed top navigation
});
});
</script>

<!--swiper-->
<%= javascript_include_tag 'js/Swiper-3.4.1/dist/js/swiper.min.js'%>
<!-- <script src="/assets/js/Swiper-3.4.1/dist/js/swiper.min.js"></script> -->
<script>
    var swiper = new Swiper('.swiper-container-intro', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
    });

		var swiper = new Swiper('.swiper-container-feature', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
    });

		var swiper = new Swiper('.swiper-container', {
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev'
		});
</script>

<!-- fade in animation -->
<script>
var $animationL = $('.animationL');
var $animationR = $('.animationR')
var $window = $(window);

function check_if_in_viewL() {
  var window_height = $window.height();
  var window_top_position = $window.scrollTop();
  var window_bottom_position = (window_top_position + window_height);

  $.each($animationL, function() {
    var $element = $(this);
    var element_height = $element.outerHeight();
    var element_top_position = $element.offset().top;
    var element_bottom_position = (element_top_position + element_height);

    //check to see if this current container is within viewport
    if ((element_bottom_position >= window_top_position) &&
        (element_top_position <= window_bottom_position)) {
      $element.addClass('animated').addClass('fadeInLeft');
    } else {
      $element.removeClass('animated');
    }
  });
}

function check_if_in_viewR() {
  var window_height = $window.height();
  var window_top_position = $window.scrollTop();
  var window_bottom_position = (window_top_position + window_height);

  $.each($animationR, function() {
    var $element = $(this);
    var element_height = $element.outerHeight();
    var element_top_position = $element.offset().top;
    var element_bottom_position = (element_top_position + element_height);

    //check to see if this current container is within viewport
    if ((element_bottom_position >= window_top_position) &&
        (element_top_position <= window_bottom_position)) {
      $element.addClass('animated').addClass('fadeInRight');
    } else {
      $element.removeClass('animated');
    }
  });
}

$window.on('scroll resize', check_if_in_viewL);
$window.on('scroll resize', check_if_in_viewR);
$window.trigger('scroll');
</script>
